.ticket-form {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: px;
    margin-top: 103px;
}

.form-fiel {
    width: 150px;
    height: 18px;
    background: none;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    color: #000;
}